# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rbuildignore

# bookdown output files
*_bookdown_files
plotshirin.pdf
plotshiringroup.pdf
HR_Analytics.live.log
commands.txt
purl.Rout
hranalytics_in_r.Rproj

# Other files
.httr-oauth
*rsconnect/
copy_pdf_to_google_drive.R

# Comment out (and thus do not ignore these files) only when version bumping
# the release branch
# docs/*
# bib/packages.bib
